@-moz-viewport {width: device-width; scale: 1; } 
@-ms-viewport {width: device-width; scale: 1; } 
@-o-viewport {width: device-width; scale: 1; } 
@-webkit-viewport {width: device-width; scale: 1; } 
@viewport {width: device-width; scale: 1; } 

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;	
  -webkit-text-size-adjust: 100%;	
  text-size-adjust: 100%;

}

*, *::before, *::after{
  box-sizing: inherit;

}

body {
  margin: 0;

}

img {
    display: block;
    width: 100%;

}
.section1 svg {
  position: relative;
  margin: 0 auto;
  width: 100%;

}

.section1 {
  display: block;
  text-align: center;
  background-color: #fff2cf;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;

}

.section2 svg {
  position: relative;
  margin: 0 auto;
  width: 100%;

}

.section2 {
  background-color: #b8e5f8;/*blue*/
  text-align: center;
  display: block;
  position: relative;

}

.section3 svg {
  position: relative;
  margin: 0 auto;
  width: 100%;

}

.section3 {
  margin-top: 1em;
  text-align: center;
  display: block;
  position: relative;
}

@media only screen and (min-width: 60em) {

  .section2 svg {
    margin: 0 auto;
    width: 100% auto;

  }
  .section2 {
    text-align: left;
    position: absolute;
    display: block;

  }

  .section3 svg {
    margin: 0 auto;
    width: 100% auto;

  }

  .section3 {
    text-align: right;
    display: block;
    position: relative;

  }

}